@import '/src/_variables';

ul li {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    a {
        color: $white-color;
    }
    a.active {
        color: $primary-color;
        .animated-line {
            animation: 300ms ease-in-out forwards MoveLine;
            background-color: $primary-color;
            bottom: 0px;
            left: -70px;
            height: 2px;
        }
    }
}

@keyframes MoveLine { from {left: -70px; bottom: 0px;} to {left: 0px; bottom: 0px;} }