@import '/src/_variables';

nav {
    position: fixed;
    z-index: 4;
    background-color: $secondary-color-1;

    img {
        max-width: 200px;
    }

    button {
        color: $white-color;
    }

    .whiteNavColor {
        color: $white-color !important;
    }
}

::ng-deep .mat-mdc-form-field {
    margin: 0 !important;
    background-color: $white-color;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}