@import '/src/_variables';

.user {
    text-decoration: none;
    img {
        border-radius: 1.25rem;
    }
    & > div, img {
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-property: all;
    }
    &:hover {
        img {
            border-bottom-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
        }
        & > div {
            box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
            border-bottom-left-radius: 1.25rem;
            border-bottom-right-radius: 1.25rem;
        }
    }
}