$primary-color: #E51313;
$secondary-color-1: #173A73;
$secondary-color-2: #00519C;
$secondary-color-3: #081540;
$secondary-color-5: #15376E;
$secondary-color-7: #1E2C4D;
$gray-color-1: #707070;
$gray-color-11: #4F4F4F;
$gray-color-13: #E5E5E5;
$white-color: #ffffff;
$pagination: #F55E41;